@using DVD_World.Models;
@model DVD_World.Models.Song;


@{
    Layout = "UserLayout";
}

<!-- slider area start -->
<!-- Slider Area Start -->
<div class="slider-area bg-black">
    <div class="container-fluid p-0">
        <div class="hero-slider-four dot-style-1 nav-style-1">

            <!-- Slide 1 -->
            <div class="single-hero-slider-wrap single-animation-wrap slider-height-hm4 bg-image-hm4 slider-bg-color-black d-flex align-items-center slider-bg-position-1 bg-black" style="background-image:url('@Url.Content("~/User/assets/images/slider/slider-hm4-1.jpg")');">
                <div class="slider-content-hm4 slider-animated">
                    <h1 class="title animated">The Ultimate Collection</h1>
                    <div class="sub-title-time-wrap">
                        <span class="sub-title animated">Exclusive DVD Release</span>
                        <span class="time animated">Available Now</span>
                    </div>
                    <div class="slider-button">
                        <a href="@Url.Action("AllMovies")" class="btn-style-hm4 animated">Explore Now</a>
                    </div>
                </div>
            </div>

            <!-- Slide 2 -->
            <div class="single-hero-slider-wrap single-animation-wrap slider-height-hm4 bg-image-hm4 slider-bg-color-black d-flex align-items-center slider-bg-position-3 bg-black" style="background-image:url('@Url.Content("~/User/assets/images/slider/slider-hm4-2.jpg")');">
                <div class="slider-content-hm4 slider-animated">
                    <h1 class="title animated">Top Hits of 2025</h1>
                    <div class="sub-title-time-wrap">
                        <span class="sub-title animated">Bestselling DVDs</span>
                        <span class="time animated">Limited Edition</span>
                    </div>
                    <div class="slider-button">
                        <a href="@Url.Action("AllMovies")" class="btn-style-hm4 animated">Shop Now</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- slider area end -->

<!-- Songs list area start -->
<div class="movie-list section-padding-lr section-pt-50 bg-black">
    <div class="container-fluid">
        <div class="section-title-4 st-border-bottom">
            <h2>Latest Songs</h2>
        </div>
        <div class="movie-slider-active nav-style-2">
            @foreach (var song in ViewBag.Songs)
            {
                <div class="movie-wrap-plr" style="width: 242px;">
                    <div class="movie-wrap text-center">
                        <div class="movie-img">
                            <a href="#"><img src="~/@song.SongImage" style="width: 212px; height: 290px;" alt="@song.SongName"></a>
                            <button title="Watchlist" class="Watch-list-btn" type="button"><i class="zmdi zmdi-plus"></i></button>
                        </div>
                        <div class="movie-content">
                            <h3 class="title"><a href="#">@song.SongName</a></h3>
                            <span>Artist: @song.Artist?.Name</span> <br>
                        
                            <div class="movie-btn">
                                <a href="User/SongDetail/@song.Id" class="btn-style-hm4-2 animated" target="_blank">Listen Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<!-- Songs list area end -->

<!-- Movies list area start -->
<div class="movie-list section-padding-lr section-pt-50 bg-black pb--10">
    <div class="container-fluid">
        <div class="section-title-4 st-border-bottom">
            <h2>Latest Movies</h2>
        </div>
        <div class="movie-slider-active nav-style-2">
            @foreach (var movie in ViewBag.Movies)
            {
                <div class="movie-wrap-plr" style="width: 242px;">
                    <div class="movie-wrap text-center">
                        <div class="movie-img">
                            <a href="#"><img src="~/@movie.MovieImage" style="width: 212px; height: 290px;" alt="@movie.MovieImage"></a>
                            <button title="Watchlist" class="Watch-list-btn" type="button"><i class="zmdi zmdi-plus"></i></button>
                        </div>
                        <div class="movie-content">
                            <h3 class="title"><a href="#">@movie.MovieName</a></h3>
                            @* <span>Artist: @song.Artist?.Name</span> <br> *@

                            <div class="movie-btn">
                                <a href="User/MovieDetail/@movie.Id" class="btn-style-hm4-2 animated" target="_blank">Watch Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<!-- Movies list area end -->

<!-- Album list area start -->
<div class="movie-list section-padding-lr section-pt-50 pb--15 bg-black">
    <div class="container-fluid">
        <div class="section-title-4 st-border-bottom">
            <h2>Album</h2>
        </div>
        <div class="movie-slider-active nav-style-2">
            @foreach (var album in ViewBag.Albums)
            {
                <div class="movie-wrap-plr" style="width: 242px;">
                    <div class="movie-wrap text-center">
                        <div class="movie-img">
                            <a href="#"><img src="~/@album.ImageUrl" style="width: 212px; height: 290px;" alt="@album.ImageUrl"></a>
                            <button title="Watchlist" class="Watch-list-btn" type="button"><i class="zmdi zmdi-plus"></i></button>
                        </div>
                        <div class="movie-content">
                            <h3 class="title"><a href="#">Album: @album.Title</a></h3>
                            <span>Artist: @album.Artist?.Name</span> <br>

                            <div class="movie-btn">
                                <a href="User/AlbumDetail/@album.Id" class="btn-style-hm4-2 animated" target="_blank">Listen Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<!-- Album list area end -->

<!-- slider area start -->
<!-- Slider Area Start -->
<div class="slider-area bg-black">
    <div class="container-fluid p-0">
        <div class="hero-slider-four dot-style-1 nav-style-1">

            <!-- Slide 1: 3 in 1 Combo Pack -->
            <div class="single-hero-slider-wrap single-animation-wrap slider-height-hm4 bg-image-hm4 slider-bg-color-black d-flex align-items-center hero-overly slider-bg-position-2 bg-black" style="background-image: url('@Url.Content("~/User/assets/images/slider/slider-hm4-3.png")');">
                <div class="slider-content-hm4 slider-animated ">
                    <h1 class="title animated">🔥 3-in-1 DVD Combo Pack 🔥</h1>
                    <div class="combo-pack-price">
                        <span class="new-price animated">$200</span>
                        <span class="old-price animated"><del>$300</del></span>
                    </div>
                    <div class="slider-button">
                        <a href="@Url.Action("MovieDetail", new { id = 3 })" class="btn-style-hm4 animated">View Details</a>
                    </div>
                </div>
            </div>

            <!-- Slide 2: 5 in 1 Combo Pack -->
            <div class="single-hero-slider-wrap single-animation-wrap slider-height-hm4 bg-image-hm4 slider-bg-color-black d-flex align-items-center hero-overly slider-bg-position-2 bg-black" style="background-image: url('@Url.Content("~/User/assets/images/slider/slider-hm4-4.png")');">
                <div class="slider-content-hm4 slider-animated ">
                    <h1 class="title animated">🎬 5-in-1 DVD Collection 🎬</h1>
                    <div class="combo-pack-price">
                        <span class="new-price animated">$400</span>
                        <span class="old-price animated"><del>$500</del></span>
                    </div>
                    <div class="slider-button">
                        <a href="@Url.Action("MovieDetail", new { id = 5 })" class="btn-style-hm4 animated">View Details</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- slider area end -->

<!-- Movie Trailer list area start -->
<div class="movie-list section-padding-lr section-pt-50 bg-black">
    <div class="container-fluid">
        <div class="section-title-4 st-border-bottom">
            <h2>Movie Trailers</h2>
        </div>
        <div class="movie-slider-active nav-style-2">
            @foreach (var mt in ViewBag.MovieTrailers)
            {
                <div class="movie-wrap-plr" style="width: 242px;">
                    <div class="movie-wrap text-center">
                        <div class="movie-img">
                            <a href="#"><img src="~/@mt.Movie?.MovieImage" style="width: 212px; height: 290px;" alt="@mt.Movie?.MovieImage"></a>
                            <button title="Watchlist" class="Watch-list-btn" type="button"><i class="zmdi zmdi-plus"></i></button>
                        </div>
                        <div class="movie-content">
                            <h3 class="title"><a href="#">@mt.Title</a></h3>
                            <span>Release Date: @mt.ReleaseDate.ToShortDateString()</span> <br>
                            <div class="movie-btn">
                                <a href="User/MovieTrailerDetail/@mt.Id" class="btn-style-hm4-2 animated" target="_blank">Watch Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<!-- Movie Trailer list area end -->

<!-- Game Trailer list area start -->
<div class="movie-list section-padding-lr section-pt-50 pb--20 bg-black">
    <div class="container-fluid">
        <div class="section-title-4 st-border-bottom">
            <h2>Game Trailers</h2>
        </div>
        <div class="movie-slider-active nav-style-2">
            @foreach (var gt in ViewBag.GameTrailers)
            {
                <div class="movie-wrap-plr" style="width: 242px;">
                    <div class="movie-wrap text-center">
                        <div class="movie-img">
                            <a href="#"><img src="~/@gt.Game?.GameImage" style="width: 212px; height: 290px;" alt="@gt.Game?.GameImage"></a>
                            <button title="Watchlist" class="Watch-list-btn" type="button"><i class="zmdi zmdi-plus"></i></button>
                        </div>
                        <div class="movie-content">
                            <h3 class="title"><a href="#">@gt.Title</a></h3>
                            <span>Release Date: @gt.ReleaseDate.ToShortDateString()</span> <br>
                            <div class="movie-btn">
                                <a href="User/GameTrailerDetail/@gt.Id" class="btn-style-hm4-2 animated" target="_blank">Watch Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<!-- Game Trailer list area end -->
